body {
  font-family: "Varela Round", sans-serif;
}

.App {
  text-align: center;
  margin-top: 50px;
}


.color-box {
  border: 3px solid black;
  border-radius: 16px;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.hex-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  border: 2px solid #333;
  border-radius: 4px;
}

.text-start {
  text-align: start !important;
}

button {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

